@model LibraryAssignment.Models.CustomerBookList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CustomerBookList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customers.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Books)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Books.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Retrieved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Retrieved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartBookedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartBookedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndBookedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndBookedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Returned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Returned)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CustomerBookListID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
