@model IEnumerable<LibraryAssignment.Models.Customer>

@{
    ViewData["Title"] = "GetCustomers";
}

<p>
    <a class="btnLinks" asp-action="Create">Add New Customer</a>
</p>
<form asp-action="Details">
    <div class="input-group">
      <div class="form-outline">
          <label class="form-label" for="id">Search Customer</label>
        <input type="search"name="id" id="id" class="form-control" required /> 
        <button type="submit" class="btn btn-primary">GO</button>
      </div>
    </div>
</form>

<div class="setScrollCustomers">
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisteredDate)
            </th>
        </tr>
    </thead>

        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegisteredDate)
                    </td>
                    <td class="tableBtnBox">
                        <a class="tableBtn" asp-action="Edit" asp-route-id="@item.CustomerID">Edit</a> |
                        <a class="tableBtn" asp-action="Details" asp-route-id="@item.CustomerID">Details</a> |
                        <a class="tableBtn" asp-action="Delete" asp-route-id="@item.CustomerID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>